<div class="card card-w-title">
<div class="container">
  <h1>2. Ingrese la información</h1>
  <form>
    <div class="form-group col-xs-4">
      <br>
      <label for="descripcion">Descripcion</label>
      <br>
      <input type="text" [(ngModel)]="delito.Descripcion" class="form-control" id="descripcion" name="descripcion" required>
      <br>
      <label for="placas">Placas</label>
      <br>
      <input type="text" [(ngModel)]="delito.Placas" class="form-control" id="placas" name="placas">
      <br>
      <label for="fecha">Fecha</label>
      <br>
      <input type="date" [(ngModel)]="delito.Fecha" class="form-control" id="fecha" name="fecha">
      <br>
      <label for="imagen">Imagen</label>
      <br>
      <input type="text" [(ngModel)]="delito.Imagen" class="form-control"  id="imagen" name="imagen">
      <br>
      
      <label for="tipos">Seleccione el tipo de delito</label>
      <br>
      <select [(ngModel)]="delito.TipoDelito" id="tipos">
        <option *ngFor="let delito of tiposDelitos">{{delito.Nombre}}</option>
      </select>
      <br><br>
      <button type="submit" class="btn btn-success" (click)="guardarDelito()">Enviar delito</button>
    </div>
  </form>
</div>
</div>